<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Accueil Puppy</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <nav>
            <ul>
            <div class="dropdown">
                <button class="dropbtn">Catégorie</button>
                <div class="dropdown-content">
                    <a class="active" href="#home">Home</a>
                    <a href="#news">News</a>
                    <a href="#contact">Contact</a>
                    <a href="#about">About</a>
                </div>
            </div>
            <a style="cursor:pointer; position: fixed; right: 0;padding: 10px 14px 0 0; color: white;" onclick="openNav()">&#9776; Connexion</a>
            </ul>
        </nav>
        <div class="categorie">

        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Identification</h1>
                    </div>
                    <div class="login-form">
                        <div class="control-group">
                            <input id="email" type="text" class="login-field" placeholder="eMail" id="login-mail" name="mail">
                            <label class="login-field-icon fui-user" for="login-mail"></label>
                        </div>

                        <div class="control-group">
                            <input id="mdp" type="password" class="login-field" placeholder="Mot de passe" id="login-password" name="mdp">
                            <label class="login-field-icon fui-lock" for="login-password"></label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-large btn-block" value="Connexion" onclick="checkLogs()"/>
                    </div>
                </div>
            </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/puppyCo/Model/main.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginRight = "250px";

        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginRight = "0";

        }


        function checkLogs() {
            console.log("oiu", "/puppyCo/Model/rest.php?/user/connect/"+$("#email").val()+"/"+$("#mdp").val());
            $.ajax({
                url: "/puppyCo/Model/rest.php?/user/connect/"+$("#email").val()+"/"+$("#mdp").val(),
                type: "GET",
                success: function (data) {
                    console.log('erreur', data);
                },
                error: function (resultat, statut, erreur) {
                    console.log('erreur', erreur);
                }
            });
        }

        $(document).ready(function () {

            $.ajax({
                url: "/puppyCo/Model/rest.php?/product/getrandom/6",
                type: "GET",
                success: function (data) {
                    var dataJson = JSON.parse(data);
                    console.log(dataJson);
                    $(dataJson).each(function (index, element) {
                        $(".categorie").append('<a href="produit.html?ref=' + element['REFERENCE'] + '"><div class="container-card"><div class="card"><div class="app-title"><img src="'+element['URL']+'"><h1>'+element['TITLE']+'</h1></div></div></div></a>');
                    });
                },
                error: function (resultat, statut, erreur) {
                    console.log('erreur', erreur);
                }
            });

        });
    </script>
</body>

</html>