<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Accueil PuppyCo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div w3-include-html="barreMenu.html"></div> 
        

    <script src="barreMenu.js"></script> 
    <script src="https://www.w3schools.com/lib/w3.js"></script> 
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/puppyCo/Model/main.js"></script>
    <script>

        $(document).ready(function () {
            w3.includeHTML();
            loadCategories();

            $.ajax({
                url: "/puppyCo/Model/rest.php?/product/getrandom/6",
                type: "GET",
                success: function (data) {
                    var dataJson = JSON.parse(data);
                    console.log(dataJson);
                    $(dataJson).each(function (index, element) {
                        $(".categorie").append('<a href="produit.html?ref=' + element['REFERENCE'] + '"><div class="container-card"><div class="card"><div class="app-title"><img src="'+element['URL']+'"><h1>'+element['TITLE']+'</h1><br/><h1>'+element['PRICE']+' e</h1></div></div></div></a>');
                    });
                },
                error: function (resultat, statut, erreur) {
                    console.log('erreur', erreur);
                }
            });

            
        });

    </script>
</body>

</html>