<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Detail utilisateur</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="login">
        <div class="login-form">
            <div class="login-screen">
                <div class="control-group">
                    <input type="text" class="login-field" placeholder="mail" id="login-mail">
                    <label for="login-mail">email</label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" placeholder="mot de pass" id="login-pass">
                    <label for="login-pass">mot de pass</label>
                </div>
                <input type="" class="btn btn-primary btn-large btn-block" value="Annuler" onclick='window.location.href = "gestionUtilisateur.html"' />
                <input type="submit" class="btn btn-primary btn-large btn-block" value="Valider la création" onclick="createUser()" />
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    <script>
        function createUser() {
            if ($('#login-mail').val() === '' || $('#login-pass').val() === '') {
                alert('Les champs doivent êtres remplis');
            } else {
                $.ajax({
                    url: "/puppyCo/Model/rest.php?/user/create/"+ $('#login-mail').val() + "/" + $('#login-pass').val(),
                    type: "POST",
                    success: function (data) {
                        console.log(data);
                        alert('utilisateur créer !');
                        window.location.href = "gestionUtilisateur.html";
                    },
                    error: function (resultat, statut, erreur) {
                        console.log('erreur',erreur);
                    }
                });
            }
        }
    </script>
</body>
</html>