<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Gestion utilisateur</title>
    <link rel="stylesheet" href="styleGestionUtil.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="table-title">
        <h3>Gestion utilisateur</h3>
    </div>
    <button type="button" class="btn btn-primary btn-large btn-block" onclick="window.open('creerUtilisateur.html');">Ajouter un utilisateur</button>
    <table class="table-fill">
        <thead>
            <tr>
                <th>id</th>
                <th>Mail</th>
                <th>status</th>
                <th>address</th>
                <th>type_cb</th>
                <th>num_cb</th>
                <th>postal code</th>
                <th>detail</th>

            </tr>
        </thead>
        <tbody id="bodyDetail" class="table-hover">

        </tbody>
    </table>


    <script>
        $(document).ready(function () {
            var $this = $(this);
            $.ajax({
                url: "/puppyCo/Model/rest.php?/user/read",  
                type: "GET",
                success: function (data) {
                    var dataJson = JSON.parse(data);
                    $(dataJson).each(function (index, element) {
                        $("#bodyDetail").append('<tr><td class="text-left">' + element['ID'] + '</td><td class="text-left">' + element['MAIL'] + '</td><td class="text-left">' + element['STATUS'] + '</td><td class="text-left">' + element['ADDRESS'] + '</td><td class="text-left">' + element['TYPE_CB'] + '</td><td class="text-left">' + element['NUM_CB'] + '</td><td class="text-left">' + element['POSTAL_CODE'] + '</td><td class="text-left"><a href="detailUtilisateur.php?id=' + element['ID'] + '">Detail</a></td></tr>');
                    });
                },
                error: function (resultat, statut, erreur) {
                    console.log('erreur', erreur);
                }
            });
        });

    </script>

</body>

</html>