<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Gestion Produits</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="table-title">
        <h3>Gestion Produits</h3>
    </div>
    <button type="button" class="btn" onclick="window.open('creerUtilisateur.html');">Ajouter un produit</button>
    <table class="table-fill">
        <thead>
            <tr>
                <th></th>
                <th>Reference</th>
                <th>Categorie</th>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="bodyDetail">

        </tbody>
    </table>


    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            var $this = $(this);
            $.ajax({
                url: "/puppyCo/Model/rest.php?/product/read",  
                type: "GET",
                success: function (data) {
                    var dataJson = JSON.parse(data);
                    $(dataJson).each(function (index, element) {
                        $("#bodyDetail").append('<tr><td><img height="50px" width="50px" src="' + element['url'] + '"/></td><td>' + element['reference'] + '</td><td>' + element['category_id'] + '</td><td>' + element['title'] + '</td><td>' + element['price'] + '</td><td>' + element['description'] + '</td><td><a href="detailUtilisateur.php?id=' + element['REFERENCE'] + '">Supprimer</a></td></tr>');
                    });
                },
                error: function (resultat, statut, erreur) {
                    console.log('erreur', erreur);
                }
            });
        });

    </script>

</body>

</html>